.box-principal{
    background-image: url(/src/assets/image/ceu1.png);

}

.textos1 {
    font-weight: bold !important;
}

.imagem {
    background-image: url(/src/assets/image/As\ Argonathh.jpg);
    background-repeat: no-repeat;
    height: 40rem;
    background-size: contain;
    background-position: center;
}

.text-decorator-none {
    text-decoration: none;
}